body  {
    min-height: 100%;
    background-blend-mode: overlay;
    background-size:cover
}

.content {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.searchfield {
    border: 1px solid #dfe1e5;
}
